* {
  box-sizing: border-box;
}

html {
  background-color: hsla(0, 0%, 96%, 1.0);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  ———————————————————————————————————————————————————————————————————————————
    DEFAULT TYPOGRAPHY
    ——————————————————————————————————————————————————————————————————————————— */

html {
  font-size: 62.5%
}

body {
  font-size: 1.4rem;
  color: hsla(0, 0%, 46%, 1.0);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
/* so now in most browsers: */
/* 0.8rem = 8px */
/* 1rem = 10px */
/* 1.2rem = 12px */
/* 2.2rem = 22px */
/* etc */

h2,
h3,
h4,
p {
  margin: 0;
}
